.header {
    background-color: greenyellow;
    height: 100vh;


    @media screen and (max-width: 640px) {
      overflow: hidden;
      width: 100vw;
    }
  
    .main_name_text_container {
      // display: flex;
      gap: 2px;  
      overflow: hidden; 
    //   border: 1px solid black;
      padding: 30px 10px; 
      height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 640px) {
      gap: 0px;  
    }
  
      .letter_wrapper {
        z-index: 30;
        position: relative;
        width: auto; // Changed from 100% to auto to fit the content
        height: 100px;
        overflow: hidden;
        display: flex; 
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @media screen and (max-width: 640px) {
          height: 40px; 
        }
    
        .main_name_text_1 {
          position: relative;
          font-family: "Ethnocentric";
          font-size: 6rem;
          display: block; 
          line-height: 1; 

          @media screen and (max-width: 640px) {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .sub_text_container{
    position: relative;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -140px;
    font-family: "good_times";
    text-align: center;

    .header_btn{
      background-color: black;
      padding: 10px 20px;
      color: white;
      border-radius: 100px;
      outline: none;
      border: none;
      font-family: "good_times";
      margin-top: 10px;
    }
  }

  .img_1_container{
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 10%;
    img{
      z-index: 10;
      width: 200px;
      transform: rotate(-45deg);
      border-radius: 10px;
      @media screen and (max-width: 640px) {
        width: 100px;
      }
    }
  }  .img_2_container{
    position: absolute;
    top: 60%;
    left: 40%;
    img{
      width: 200px;
      transform: rotate(23deg);
      border-radius: 10px;
      @media screen and (max-width: 640px) {
        width: 100px;
      }
    }
  }  .img_3_container{
    position: absolute;
    top: 30%;
    left: 70%;
    @media screen and (max-width: 640px) {
      position: absolute;
      top: 30%;
      left: 60%;
    }
    img{
      width: 200px;      
      border-radius: 10px;
      @media screen and (max-width: 640px) {
        width: 100px;
      }
      // transform: rotate(45deg);
    }
  }