.header_container{
  overflow: hidden;
}
.header {
    background-color: greenyellow;
    height: 100vh;
    width: 100vw;
   
    @media screen and (max-width: 640px) {
      overflow: hidden;
    }
  }

  .main_name_text_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }

  .letter_wrapper{
    display: flex;
    z-index: 20;
    overflow: hidden;
    span{
      font-size: 90px;
      font-family: "Ethnocentric";
            @media screen and (max-width: 640px) {
              font-size: 35px;
        }
    }
  }

  .sub_text_container{
    position: relative;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "good_times";
    text-align: center;
    @media screen and (max-width: 640px) {
      margin-top: 0px;
      font-size: 12px;
      width: auto;
    }
    .header_btn{
      background-color: black;
      padding: 10px 20px;
      color: white;
      border-radius: 100px;
      outline: none;
      border: none;
      font-family: "good_times";
      margin-top: 10px;
    }
  }

  .img_1_container{
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 10%;
    img{
      z-index: 10;
      width: 200px;
      transform: rotate(-45deg);
      border-radius: 10px;
      @media screen and (max-width: 640px) {
        width: 100px;
      }
    }
  }  .img_2_container{
    position: absolute;
    top: 60%;
    left: 40%;
    img{
      width: 200px;
      transform: rotate(23deg);
      border-radius: 10px;
      @media screen and (max-width: 640px) {
        width: 100px;
      }
    }
  }  .img_3_container{
    position: absolute;
    top: 30%;
    left: 70%;
    @media screen and (max-width: 640px) {
      position: absolute;
      top: 30%;
      left: 60%;
    }
    img{
      width: 200px;      
      border-radius: 10px;
      @media screen and (max-width: 640px) {
        width: 100px;
      }
      // transform: rotate(45deg);
    }
  }